.screen{
  background-color: rgb(0, 0, 0);
  border: none;
  outline: none;
  border:2px solid rgb(228, 61, 0);
  width: 100%;
  border-radius: 10px;
  font-size: x-large;
  color:rgb(228, 61, 0);
  text-align: center;
}
